.card{
    box-shadow: 0 5px 20px 0 rgb(206, 203, 203);
    overflow: hidden;
    img{
        height: 350px;
        width: auto;
        transition: 1s all;
        &:hover{
            transform: scale(1.05);
            cursor: pointer;
        }
    }
}
.spinner{
    height: 500px;
    margin-top: 250px;
   
}